.postSender {
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);

    margin: 0 auto;
    width: 500px;
}


.postSender__form {
    background-color: white;
}


.postSender__input>input {
    background-color: var(--color-bg-primary);
    border-radius: 999px;
    outline: 0;
    padding: 10px 1rem;
}

.postSender__input>input:hover {
    background-color: var(--color-btn-lighter);
}


.postSender__types {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    font-size: medium;
    border-top: 1px solid var(--color-btn-light);
}

.postSender__type {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.postSender__type:hover {
    background-color: var(--color-btn-lighter);
}